#clients
  overflow: hidden
  height: 60vh
  .wrapper
    @extend .center-block
    padding-top: 4%
    padding-bottom: 0
  .bcg
    position: relative
    background-image: image-url('background-clients.jpg')
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    margin: 0 -15px -10px -15px
    background-color: $white
    padding-top: 30px
    top: -28%
    height: 120%

  ul
    @extend .center-block
    @extend .row
    width: 80%
    padding: 0

  li
    @extend .center-block
    height: 300px
    padding-left: 1%
    padding-right: 1%
    div
      height: 100%
      margin-left: auto
      margin-right: auto
      max-width: 215px
      max-height: 120px
    img
      display: inline-block
      vertical-align: middle
      max-width: 215px
      max-height: 120px
    span
      display: inline-block
      height: 100%
      vertical-align: middle

  h1
    margin-top: 0
    border-bottom: 1px solid $white
    color: $white
