#clients
  @extend .background
  background-image: image-url('background-02.jpg')
  li
    @extend .col-sm-3
    height: 170px

  h1
    border-bottom: 1px solid $white

  ul:nth-of-type(1)
    li:nth-of-type(1)
      background: image-url('logo_max_factor.png') 50% 50% no-repeat
    li:nth-of-type(2)
      background: image-url('logo_loreal.png') 50% 50% no-repeat
    li:nth-of-type(3)
      background: image-url('logo_metrum_cryoflex.png') 50% 50% no-repeat
    li:nth-of-type(4)
      background: image-url('logo_sutherland.png') 50% 50% no-repeat
  ul:nth-of-type(2)
    li:nth-of-type(1)
      background: image-url('logo_wincor.png') 50% 50% no-repeat
    li:nth-of-type(2)
      background: image-url('logo_ericsson.png') 50% 50% no-repeat
    li:nth-of-type(3)
      background: image-url('logo_datality.png') 50% 50% no-repeat
    li:nth-of-type(4)
      background: image-url('logo_orto_forum.png') 50% 50% no-repeat