#clients
  @extend .background
  background: image-url('background-clients.jpg') 50% 50% no-repeat
  background-size: cover

  li
    @extend .col-sm-3
    height: 170px
    padding-left: 35px
    padding-right: 35px
    div
      width: 90%
      height: 100%
      margin-left: auto
      margin-right: auto

  h1
    border-bottom: 1px solid $white

  ul:nth-of-type(1)
    li:nth-of-type(1) div
      background: image-url('logo_max_factor.png') 50% 50% no-repeat
      background-size: contain
    li:nth-of-type(2) div
      background: image-url('logo_loreal.png') 50% 50% no-repeat
      background-size: contain
    li:nth-of-type(3) div
      background: image-url('logo_metrum_cryoflex.png') 50% 50% no-repeat
      background-size: contain
    li:nth-of-type(4) div
      background: image-url('logo_sutherland.png') 50% 50% no-repeat
      background-size: contain
  ul:nth-of-type(2)
    li:nth-of-type(1) div
      background: image-url('logo_wincor.png') 50% 50% no-repeat
      background-size: contain
    li:nth-of-type(2) div
      background: image-url('logo_ericsson.png') 50% 50% no-repeat
      background-size: contain
    li:nth-of-type(3) div
      background: image-url('logo_datality.png') 50% 50% no-repeat
      background-size: contain
    li:nth-of-type(4) div
      background: image-url('logo_orto_forum.png') 50% 50% no-repeat
      background-size: contain
