#flow
  background: $white
  h1
    border-bottom: 1px solid $black
  ul
    @extend .center-block
    position: relative
    width: 90%
    font-family: 'Segoe Print'
  li
    @extend .col-sm-2
    position: relative
    height: 200px
    div
      height: 60%
      margin-top: 15%

  li:nth-of-type(1)
    div
      background: image-url('flow_brief.png') 50% 50% no-repeat
      background-size: contain
  li:nth-of-type(2)
    div
      background: image-url('flow_meeting.png') 50% 50% no-repeat
      background-size: contain
    p
      bottom: 15px
  li:nth-of-type(3)
    div
      background: image-url('flow_script.png') 50% 50% no-repeat
      background-size: contain
  li:nth-of-type(4)
    div
      background: image-url('flow_camera.png') 50% 50% no-repeat
      background-size: contain
  li:nth-of-type(5)
    div
      background: image-url('flow_editing.png') 50% 50% no-repeat
      background-size: contain
  li:nth-of-type(6)
    div
      background: image-url('flow_twoj_film.png') 50% 50% no-repeat
      background-size: contain

  p
    position: absolute
    bottom: 0
    width: 100%
    text-align: center

  .arrow
    @extend .hidden-xs
    @extend .hidden-sm
    font-family: 'Segoe Print'
    position: relative
    width: 485px
    height: 20px
    span
      background: image-url('flow_arrow.png') 50% 50% no-repeat
      position: absolute
      top: -45px
      left: 100px
      width: 485px
      height: 48px
    p
      position: absolute
      top: -25px
      left: 100px
