@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
$font-family-base: 'Lato', 'Open Sans', sans-serif;
$extralight: 100;
$light: 300;
$normal: 400;
