#footer
  background-color: $black
  background-size: cover
  color: $white
  padding-left: 20%
  padding-right: 20%
  min-height: 105px
  padding-top: 43px
  font-weight: $light
  .left
    text-align: right
  .row div
    @extend .col-sm-6
  p
    margin: 0