nav
  background-color: rgba(0, 0, 0, 0.7)
  box-shadow: 0 0 15px #000
  a
    color: $white
  a:hover
    color: $blue

.navbar-toggle
  border: 1px solid $white
.icon-bar
  background-color: $white

.navbar-brand
  color: $white
  &:hover
    color: $white
