#portfolio
  background-color: $black
  color: $white
  background-color: $black
  background-size: cover
  h1
    border-bottom: 1px solid $white
    margin-bottom: 2%
  h3
    @extend .center-block
    text-align: center
    color: $black
    width: 80%
    display: block
    background-color: $blue
    padding-top: 7px
    padding-bottom: 7px
    margin-bottom: 3%
    margin-top: 0
    &:focus, &:active
      outline: none
      color: $white

  ul
    @extend .row
    @extend .center-block
    width: 80%
    padding: 0
    margin-bottom: 0px

  li
    @extend .col-lg-3
    @extend .col-md-4
    @extend .col-sm-6
    list-style: none
    .wrapper
      position: relative
      margin: 0 auto 15% auto
      &:after
        content: ''
        display: block
        padding-top: 56.75%

    p
      display: none
      z-index: 1
      position: relative
      margin-top: 35%
      color: $blue
      text-transform: uppercase
      margin-left: 2%
      margin-right: 2%
    .thumb
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      border: 1px solid $white
      text-align: center
      overflow: hidden
      .background
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: cover
        width: 100%
        height: 100%
        &:hover .w2
          display: inline-block
      .w2
        display: none
        width: 100%
        height: 100%
        background: image-url('play.png') 50% 25% no-repeat
        background-size: 30%
        background-color: rgba(0, 0, 0, 0.7)
        p
          display: block
          margin: 35% 5% 10% 5%

  #accordion
    padding-top: 1%
    padding-bottom: 2%
