#portfolio
  background-color: $black
  color: $white
  background-color: $black
  background-size: cover
  h1
    border-bottom: 1px solid $white
    margin-bottom: 5%
  h3
    @extend .center-block
    text-align: center
    width: 80%
    display: block
    background-color: $test
    &:focus, &:active
      outline: none
      color: $blue

  ul
    @extend .row
    @extend .center-block
    width: 80%
    padding: 0

  li
    @extend .col-lg-3
    @extend .col-md-4
    @extend .col-sm-6
    list-style: none
    .wrapper
      position: relative
      margin: 0 auto 15% auto
      width: 90%
      &:after
        content: ''
        display: block
        padding-top: 56.75%
    img
      width: 100%
      height: 100%
      border: 1px solid $white

    p
      display: none
      z-index: 1
      position: relative
      // position: absolute
      // margin-left: 5%
      // margin-right: 5%
      margin-top: 45%
      color: $blue
      text-transform: uppercase
    .thumb
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      // border: 1px solid $white
      text-align: center
      overflow: hidden
      &:hover
        &:after
          content: ""
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          background: image-url('play.png') 50% 50% no-repeat
          background-size: 30%
          background-color: rgba(0, 0, 0, 0.7)
          border: 1px solid $white
        p
          display: block
        img
          display: none

  // #accordion ul
  //   li:nth-of-type(1) .thumb
  //     background: image-url('thumbs/74980318.png') 50% 50% no-repeat
  //     background-size: 100% 100%
  //   li:nth-of-type(2) .thumb
  //     background: image-url('thumbs/81767257.png') 50% 50% no-repeat
  //     background-size: 100% 100%
  //   li:nth-of-type(3) .thumb
  //     background: image-url('thumbs/82521685.png') 50% 50% no-repeat
  //     background-size: 100% 100%
  //   li:nth-of-type(4) .thumb
  //     background: image-url('thumbs/82969314.png') 50% 50% no-repeat
  //     background-size: 100% 100%
  //   li:nth-of-type(5) .thumb
  //     background: image-url('thumbs/83397726.png') 50% 50% no-repeat
  //     background-size: 100% 100%
  //   li:nth-of-type(6) .thumb
  //     background: image-url('thumbs/87377017.png') 50% 50% no-repeat
  //     background-size: 100% 100%
