@charset 'utf-8'

@import 'settings'
@import 'imports'
@import 'vendor_fixes'

body
  background: $backgroundColor
  color: $textColor
  font-family: $font-family-base

h1, h2, h3, h4, h5, h6
  font-family: $font-family-base
  font-weight: $extralight
  font-style: normal

.background
  color: $white

.blue
  color: $blue

section
  @extend .container-fluid
  h1
    @extend .center-block
    text-transform: uppercase
    font-size: 2.2em
    max-width: 90%
    margin-top: 30px
    text-align: center
    padding-bottom: 8px

#flow, #clients
  ul
    @extend .row
    padding: 20px
  li
    display: block

#heading
  @extend .background
  padding-bottom: 100px
  position: relative
  video#bgvid
    position: fixed
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -100
    background: image-url('background-01.jpg') no-repeat

  .logo
    padding-top: 300px
    margin: 50px auto
    background: image-url('new_logo_white.png') 50% 50% no-repeat
    background-size: contain

#tagline
  width: 70%
  display: block
  margin-left: auto
  margin-right: auto
  font-size: 2em
  background-color: rgba(0, 0, 0, 0.7)
  text-align: center
  padding: 30px 10px 30px 10px
  li
    display: inline-block
    text-transform: uppercase
    &:before, &:last-of-type:after
      content: ""
      display: inline-block
      width: 12px
      height: 12px
      background-color: $white
      @include border-radius(6px)
      margin: auto 10px 4px 10px
    &:last-of-type:after
      @extend .hidden-xs
