---
title: Twój film produktowy
---
section#heading
  video#bgvid preload="none" autoplay="" loop=""
    source src="assets/images/video.mp4" type="video/mp4"
    source src="assets/images/video.webm" type="video/webm"
  .logo
  #tagline
    p Twój film produktowy
    ul
      li Wciągający
      li.blue Sugestywny
      li Zapadający w pamięć

section#flow
  h1 Od pomysłu do filmu
  ul.steps
    li
      div
      p Brief
    li
      div
      p Spotkanie
    li
      div
      p Scenariusz i kosztorys
    li
      div
      p Zdjęcia
    li
      div
      p Montaż
    li
      div
  .arrow
    span.graphic
    p Gwarancja 7 dni


section#clients
  .bcg data-anchor-target="#clients" data-bottom-top="background-position: 50% 300px;" data-top-bottom="background-position: 50% -200px;"
    h1 Zaufali nam
    .wrapper
      ul
        li
          div
        li
          div
        li
          div
        li
          div
      ul
        li
          div
        li
          div
        li
          div
        li
          div

section#portfolio
  h1 Nasze filmy
  ul
    li
      .wrapper
        .thumb href="http://player.vimeo.com/video/74980318"
          p 3 X LOOK NA LATO
    li
      .wrapper
        .thumb href="http://player.vimeo.com/video/81767257"
          p MAKIJAŻ LAURY GUIDI
    li
      .wrapper
        .thumb href="http://player.vimeo.com/video/82521685"
          p MAKIJAŻ DLA MATKI I CÓRKI
  ul
    li
      .wrapper
        .thumb href="http://player.vimeo.com/video/82969314"
          p PODKŁAD CREME PUFF
    li
      .wrapper
        .thumb href="http://player.vimeo.com/video/83397726"
          p MAKIJAŻ W HOLLYWOODZKIM STYLU
    li
      .wrapper
        .thumb href="http://player.vimeo.com/video/87377017"
          p MAKIJAŻ NA WIOSNĘ/LATO 2014

section#contact
  .bcg data-anchor-target="#contact" data-bottom-top="background-position: 50% 200px;" data-top-bottom="background-position: 50% -200px;"
    h1 Kontakt
    ul
      li
        a href="mailto:kontakt@4kstudio.pl"
          div
          p kontakt@4kstudio.pl
      li.right
        div
        div
          p Karol Flont
          p tel. 22 465 98 01
          p pon-pt 8:00-18:00
          p kom. 691 277 719
      li
        a href="https://www.facebook.com/pages/4K-Studio/166346293454085"
          div
          p 4K Studio
